/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

@import url('https://fonts.googleapis.com/css?family=Overpass|Roboto+Condensed|Source+Code+Pro');

* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
}

body {
  opacity: 0;
  background-image: url('../images/alangeundsohne0201.png');
  background-position: top;
  background-size: auto;
}

.fade-in {
  opacity: 1;
  transition: 1.5s;
}

/* NAVIGATION /////////////////////////////////////// */

.nav-bar {
  z-index: 100;
  background-color: #e2dede;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 1.2em;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  font-size: 1.3em;
  color: black;
  padding: 0.5em;
}

a.nav-links:hover {
  color: #1c00ff;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.2s;
}

/* MAIN SECTION ///////////////////////////////////// */

.typewriter {
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 2s steps(40, end),
    blink-caret 1s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(45, 38, 163, 0);
  color: white;
  text-align: center;
  font-size: 6em;
  padding-top: 2em;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(154, 119, 238, 0);
  color: white;
  text-align: center;
  font-size: 4em;
  line-height: 1.5em;
  margin: 1em auto 3em auto;
}

span {
  background-color: rgba(233, 244, 12, 0);
}

main {
  font-family: 'Overpass', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  max-width: 960px;
  text-align: center;
  margin: 8em auto;
}

/* SPIEL SECTION //////////////////////////////////////// */

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2em;
  margin: 0.5em auto 1em auto;
  background-color: white;
  color: #16161d;
}

.spiel-container {
  background-color: white;
  padding: 5em 1em;
  text-align: center;
}

.black-p {
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  max-width: 960px;
}

/* SKILLS SECTION /////////////////////////////////////////// */

.skills-container {
  background-image: url('../images/arduino01.jpg');
  background-position: center;
  padding: 5em 1em;
}

.skill-title {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 2.5em;
  margin: 0.8em auto;
  font-weight: bold;
}

.stack-title {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 2em 0 1em 0;
}

.text-box {
  background-color: rgba(251, 251, 251, 0);
  max-width: 960px;
  font-family: 'Overpass', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  padding: 1em 0;
}

.white-p {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 1.2em;
  line-height: 2em;
  max-width: 960px;
}

/* PROJECTS SECTION /////////////////////////////////////// */

.projects-container {
  background-color: #16161d;
  padding: 5em 1em;
  text-align: center;
}

.project-section-title {
  color: white;
  padding-bottom: 1em;
}

.project-container {
  background-color: #16161d;
  display: inline-block;
  margin: 2em;
}

.image-container {
  background-color: #16161d;
  position: relative;
  max-height: 15em;
  border-top-left-radius: 4em;
  border-bottom-right-radius: 4em;
}

.overlay {
  position: absolute;
  border-top-left-radius: 4em;
  border-bottom-right-radius: 4em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.site-link {
  display: inline-block;
  margin-top: 4em;
  /* vertical-align: middle; */
}

.overlay:hover {
  transition: .1s;
  background-color: #16161d;
  opacity: 0.8;
}

.project-section-title {
  background-color: #16161d;
  font-size: 2.5em;
  margin: 0.5em auto 1em auto;
}

.project-title {
  font-family: 'Source Code Pro', monospace;
  background-color: #16161d;
  color: white;
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
}

.project-image {
  max-height: 15em;
  border-top-left-radius: 4em;
  border-bottom-right-radius: 4em;
}

.fa-github {
  margin-top: 0.5em;
  background-color: #16161d;
  color: white;
}

.fa-code-branch {
  margin-top: 0.5em;
  background-color: #16161d;
  color: white;
}

.fab.fa-github:hover {
  color: #d40000;
  transition: 0.3s;
}

.fa-code-branch:hover {
  color: #d40000;
  transition: 0.3s;
}

.fas.fa-link {
  background-color: #16161d;
  opacity: 1;
  color: white: ;
}

.fas.fa-link:hover {
  background-color: #16161d;
  color: #d40000;
  transition: 0.3s;
}

/* CONTACT SECTION //////////////////////////////////////// */

.contact-container {
  background-color: white;
  padding: 5em 1em;
  text-align: center;
  min-height: 100vh;
}

.contact-section-title {
  background-color: white;
  color: #16161d;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 3em;
  margin: 0.5em auto 2em auto;
}

.contact-link {
  background-color: white;
  margin: 3em;
}

.contact-link:hover {
  color: blue;
  transition: 0.3s;
}

/* MEDIA QUERIES //////////////////////////////////////// */

@media (max-width: 500px) {
  .nav-bar {
    padding: 1em 0.5em;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
  }

  .nav-links {
    font-size: 1.2em;
    padding: 0;
  }

  h1 {
    font-size: 5.5em;
  }

  .title {
    display: block;
  }

  .contact-link {
    display: block;
  }
}
