/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

@import url('https://fonts.googleapis.com/css?family=Overpass|Roboto+Condensed|Source+Code+Pro');

* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 4em;
}

nav {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
  padding-top: 2em;
}

a {
  text-decoration: none;
  font-size: 1em;
  color: #16161d;
  border: 2px solid #16161d;
  padding: 0.8em 1em;
}

.section-container {
  background-color: #001f7d;
}

.text-container {
  background-color: #001f7d;
  max-width: 960px;
  margin: 0 auto;
}
