/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

@import url('https://fonts.googleapis.com/css?family=Overpass|Roboto+Condensed|Source+Code+Pro');

* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  background-color: #eeeded;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 4em;
}

nav {
  min-height: 4em;
  text-align: center;
  background-color: #16161d;
}

a {
  text-decoration: none;
  vertical-align: middle;
  padding: 0 1em;
}

.container {
  max-width: 960px;
}
